<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="~{fragment/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>課題一覧 | 課題管理アプリケーション</title>
</head>
<body>
<h1>課題一覧</h1>
<a th:href="@{/}">トップへ戻る</a>
<a th:href="@{/issues/creationForm}">作成する</a>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>概要</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${issueList}">
        <th th:text="${issue.id}">(id)</th>
        <td>
            <a th:text="${issue.summary}" th:href="@{/issues/{issueId}(issueId=${issue.id})}">(summary)</a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>